# Node dependencies
node_modules/

.idea/

# Output directories
dist/
coverage/

# TypeScript cache
*.tsbuildinfo

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment configs
.env
config.toml.local

# OS generated
.DS_Store
Thumbs.db

# VSCode settings
.vscode/

# Docker
.dockerignore

# Husky
.husky/_/